<mat-card class="mat-elevation-z3 dark-grey white-text">

    <mat-card-title>Atualizar Produto</mat-card-title>

    <form>

        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="product.price" name="price">
        </mat-form-field>

    </form>

    <button mat-raised-button class="blue white-text" (click)="updateProduct()">
        Atualizar
    </button>

    <button mat-raised-button class="dark-grey white-text" (click)="cancel()">
        Cancelar
    </button>

</mat-card>